[credential]
      helper = manager
      writelog = false
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE 
[merge]
      tool = vsdiffmerge
[mergetool]
      prompt = false
[mergetool "vsdiffmerge"]
      cmd = '"C:/Program Files (x86)/Microsoft Visual Studio 14.0/Common7/IDE/vsdiffmerge.exe"' "$REMOTE" "$LOCAL" "$BASE" "$MERGED" //m
      keepbackup = false
      trustexitcode = true
[core]
      editor = "'C:/Program Files (x86)/Microsoft VS Code/code.exe'" -w
      autocrlf = true
      excludesfile = C:\\Users\\<USERNAME>\\Documents\\gitignore_global.txt
[push]
      default = simple
[user]
	name = Ole Andreas Rydland
[user]
      email = <EMAIL>
[pull]
      rebase = true
[status]
      submoduleSummary = true
[color]
      ui = auto
[alias]
	cp = cherry-pick
      st = status -s
      cl = clone
      c = commit
      co = checkout
      br = branch 
      diff = diff --word-diff
      dc = diff --cached
	logl = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
      r = reset
      r1 = reset HEAD^
      r2 = reset HEAD^^
      rh = reset --hard
      rh1 = reset HEAD^ --hard
      rh2 = reset HEAD^^ --hard
      logtree = log --graph --oneline --decorate --all
      ca = commit --amend --no-edit
      cb = checkout -b
      ap = add --patch
      ci = commit --interactive
      delete = push origin --delete
      log-graph = log --graph --all  --decorate --oneline
      log-standup = !git log --since yesterday --author $(git config user.email) --pretty=short
      hist = log --pretty=format:\"%C(yellow)%h%C(reset) %C(green)%ad%C(reset) %C(red)|%C(reset) %s %C(bold blue)[%an]%C(reset)%C(yellow)%d%C(reset)\" --graph --date=short
reply

[rebase]
	autostash = true
[stash]
	showPatch = true
